h1 {
    text-align: center;
}
body {
    background-color: white;
}
.divlogo {
    background-color:white;
}
h5 {
    text-align: center;
}
.p1 {
    text-align: center;
}
.divcadastro {
    text-align: center;
    color: black;

}
.formu{
background-color: white;
}