h1 {
    text-align: center;
}
.cardbugatti {
    width: 550px; 
}
.cardporsche {
    width: 550px; 
}
.cardtuatara {
    width: 550px; 
}
.cardr3 {
    width: 500px;
}
.cardgsx {
    width: 500px; 
}
.cardcbr {
    width: 500px; 
}
.prua {
    text-align: center;
}
.h2Carros {
    margin: 15px;
}
.h2Motos {
    margin: 15px;
}